# -----------------------------------------------
# Gradle
# -----------------------------------------------
.gradle/
build/
logs/
!gradle/wrapper/gradle-wrapper.jar

# -----------------------------------------------
# NeoForge / Minecraft dev
# -----------------------------------------------
run/
runs/
run-data/
src/generated/resources/
repo/

# -----------------------------------------------
# Eclipse
# -----------------------------------------------
bin/
eclipse/
*.launch
.settings/
.metadata/
.classpath
.project

# -----------------------------------------------
# IntelliJ IDEA
# -----------------------------------------------
out/
.idea/
*.iml
*.ipr
*.iws

# -----------------------------------------------
# VSCode
# -----------------------------------------------
.vscode/

# -----------------------------------------------
# -----------------------------------------------

# -----------------------------------------------
# macOS
# -----------------------------------------------
.DS_Store

# -----------------------------------------------
# Windows
# -----------------------------------------------
Thumbs.db
desktop.ini
